.aggregates {
  & > div > div {
    font-size: 45px;
  }

  & > div {
    padding: 0 10px 0 20px;
  }

  & > div:not(:first-child) {
    border-left: solid 1px;
  }

  p {
    margin-bottom: 8px;
  }
}
