.employment {
  position: relative;

  .employer-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    background-color: rgba(230, 228, 228, 1);
  }

  h3 {
    margin-bottom: 8px;
  }

  h5 {
    margin-bottom: 4px;
  }

  .verified {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }
}