#root {
  /* should probably move these to their respective areas in src/components */
  /* colours *definitely* need to be refactored out into variables (and Material UI theme?) */

  /* profile */
  .profile-panel {
    background-image: url("../../images/profile-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(27, 70, 80);
    color: rgba(249, 242, 239, 1);
  }

  .profile-right-panel {
    padding: 32px;
  }

  .profile-right-top-panel {
    background-image: url("../../images/profile-right-top-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b6f7e1;
  }

  .profile-right-secondary-panel {
    background-color: #F7F5F3;
    color: #000000;
    padding: 32px;
  }

  .people-panel {
    background-image: url("../../images/people-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #90d1bb;
    color: #F9F2EF;
    padding: 32px;
  }

  .project-panel {
    background-image: url("../../images/project-background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}