@font-face {
  font-family: Brown;
  src: url("Brown-Regular.woff") format("woff");
}

#root {
  .login-button {
    position: fixed;
    right: 10px;
    top: 10px;
  }

  .sans-serif, .sans-serif * {
    font-family: Brown, sans-serif;
  }

  .serif, .serif * {
    font-family: expo-serif-pro, serif;
  }

  .full-width {
    width: 100%;
  }

  .full-width.button-panel button {
    margin: 8px 0;
  }
}

.full-height {
  min-height: 100vh;
}

.clickable {
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
    !important;

  &:hover {
    background-color: #f0f0f0;
  }
}

button.link {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

form button:not(.link):disabled {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.bold {
  font-weight: bold !important;
}

.grey {
  color: #7D7978 !important;
}