@import url("https://use.typekit.net/qep0qwn.css");

* {
  font-family: Brown, sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  /* struggling to get react-beautiful-dnd to not blow out width... */
  overflow-x: hidden;
  max-width: 100vw;

  a, a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
  }

  h1, h2, h3, h4, h5, h6 { font-weight: normal; }

  h1 {
    font-size: 60px;
    font-family: expo-serif-pro, serif;
    &.with-margin { margin-bottom: 30px; }
  }

  h2 {
    font-size: 30px;
    font-family: expo-serif-pro, serif;
    &.with-margin { margin-bottom: 24px; }
  }

  h3 {
    font-size: 18px;
    &.with-margin { margin-bottom: 16px; }
  }

  h4 {
    font-size: 14px;
    &.with-margin { margin-bottom: 12px; }
  }

  h5 {
    font-size: 12px;
    &.with-margin { margin-bottom: 8px; }
  }

  h6 {
    font-size: 10px;
    &.with-margin { margin-bottom: 4px; }
  }
}
