/* allow forms to be embedded in dialogs - essentially replicate a few styles */
.MuiDialog-container form {
  display: flex;

  .MuiDialogContent-root {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .MuiDialogActions-root {
    align-self: flex-end;
  }
}

#root {
  .MuiAvatar-root {
    width: 62px !important;
    height: 62px !important;
  }

  .MuiInput-root, .MuiTypography-root {
    font-family: Brown, sans-serif !important;
  }

  .MuiChip-root {
    color: inherit;
  }

  .MuiChip-outlined {
    border-color: inherit;
  }

  .MuiTab-root {
    text-transform: none;
    min-width: 0;
  }
}