.compare {
  background-color: #F7F5F3;

  .search-panel {
    background-color: inherit;
  }

  .compare-panel {
    background-image: url("../../images/compare-background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}