.Check {
  position: relative;
  display: inline-block;

  .stamp {
    position: absolute;
    fill: rgba(238, 71, 67, 1);

    path {
      position: absolute;
    }
  }

  .tick {
    position: absolute;

    path {
      fill: rgba(255, 255, 255, 1);
    }
  }
}