.logo {
  position: relative;
  width: 145px;
  height: 36px;

  &.small {
    transform: scale(0.75);
  }

  path {
    fill: #ffffff;
  }

  &.black path {
    fill: #1b4650;
  }

  ellipse {
    fill: rgba(238, 71, 67, 1);
  }

  .Path_1 {
    overflow: visible;
    position: absolute;
    width: 24.287px;
    height: 35.086px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .Path_2 {
    overflow: visible;
    position: absolute;
    width: 23.131px;
    height: 25.233px;
    left: 88.474px;
    top: 9.853px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .Path_3 {
    overflow: visible;
    position: absolute;
    width: 12.88px;
    height: 30.634px;
    left: 118.198px;
    top: 4.452px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .Ellipse_1 {
    position: absolute;
    overflow: visible;
    width: 25.759px;
    height: 25.759px;
    left: 57.294px;
    top: 9.749px;
  }

  .Ellipse_2 {
    position: absolute;
    overflow: visible;
    width: 7.661px;
    height: 7.661px;
    left: 136.575px;
    top: 27.464px;
  }

  .Path_4 {
    overflow: visible;
    position: absolute;
    width: 23.801px;
    height: 25.759px;
    left: 29.343px;
    top: 9.749px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
