.red-dot {
  display: inline-block;
  height: 28px;
  width: 28px;
  overflow: visible;

  div {
    position: relative;
    z-index: -1;
    top: -13px;
    left: -7px;
    background-color: #EE4743;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}