.account {
  background-image: url("../../images/login-background.png");
  background-color: rgba(27, 70, 80, 1);
  background-size: cover;
  background-repeat: no-repeat;

  & > div:last-child {
    background-image: url("../../images/login-image.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .logo {
    margin-bottom: 64px;
  }

  main {
    min-height: 310px;
    width: 550px;
  }

  /* variant on Text is not working properly :-\ */
  .MuiFormControl-root:not(.react-forms-material-checkbox) {
    border-radius: 25px;
    height: 50px;
    background-color: #F7F5F3;
    margin-bottom: 32px;
    backdrop-filter: blur(7px);
    overflow: hidden;

    .MuiInput-underline:before, .MuiInput-underline:after {
      display: none;
    }

    input {
      color: #1B4650;
      height: 40px;
      padding: 5px 0 8px 24px;
      outline: none;
      font-family: Brown, sans-serif;
    }

    .Mui-error input {
      background-color: #fcdad9;
    }
  }

  button:not(.link) {
    height: 50px;
    border-radius: 25px;
    background-color: rgba(238, 71, 67, 1);
  }
}