.candidate {
  border: 2px solid transparent;

  &.selected {
    background-color: #FDE8E8;
    border: 2px solid #EE4743;
  }

  .chips {
    gap: 8px;

    .MuiChip-outlined {
      border-color: #1b4650;
    }

    .MuiChip-label {
      font-size: 14px;
    }
  }

  // TODO: much of this is somewhat duplicated elsewhere
  button {
    border: 0;
    height: 32px;
    border-radius: 16px;
    background-color: #90D1BB;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    padding-left: 24px;
    padding-right: 24px;
  }
}