.recruit {
  color: #1b4650;
  background-color: #F7F5F3;

  * {
    color: #1b4650;
  }

  .search-panel {
    background-color: inherit;
  }

  .recruit-panel {
    background-image: url("../../images/recruit-background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}