.recruit-opening-panel {
  padding: 12px 48px 48px 48px;

  .MuiInput-root {
    height: 50px;
    border-radius: 25px;
    border: 2px solid #1b4650;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sort {
    font-size: 18px;
  }

  .MuiInput-underline:before, .MuiInput-underline:after {
    display: none;
  }

  .candidates {
    gap: 8px;

    .candidate {
      margin-bottom: 24px;
    }
  }
}
