.dashboard {
  background-image: url("../../images/compare-background.png");
  background-size: 100%;
  background-repeat: no-repeat;

  .search-panel {
    backdrop-filter: blur(30px);
  }

  .dashboard-panel {
    padding: 32px;

    & > *:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}