.search-panel {
  height: 75px;
  backdrop-filter: blur(30px);

  a, button {
    color: #1B4650 !important;
    text-decoration: none;
  }

  .MuiInput-root {
    height: 50px;
    border: 1px solid #F5F5F5;
    border-radius: 25px;
    background: white;
    margin: 0 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
  }

  .MuiInput-underline:before, .MuiInput-underline:after {
    display: none;
  }
}