.MuiGrid-item .search-result {
  position: relative;
  width: 225px;

  * {
    color: #1B4650;
  }

  .menu-trigger {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  img {
    margin-bottom: 24px;
  }

  .column-box {
    margin-bottom: 16px;
  }

  .row-box {
    font-size: 14px;
    padding: 16px 0;

    div:last-child {
      font-size: 20px;
    }

    &:not(:first-child) {
      border-bottom: 1px solid;
    }
  }
}
