.search-results {
  background-color: #c3d0d3;
  padding: 48px;

  .search-results-header {
    font-size: 18px;

    & > * {
      padding-bottom: 32px;
    }

    .MuiChip-root {
      margin-right: 12px;
    }

    button {
      border: 0;
      height: 50px;
      border-radius: 25px;
      background-color: #EE4743;
      color: #1B4650;
      font-size: 18px;
      font-weight: bold;
      text-transform: none;
      letter-spacing: 0;
      padding-left: 24px;
      padding-right: 24px;

      .insights-icon {
        margin-right: 12px;
      }
    }

    .MuiSvgIcon-root {
      padding-right: 12px;
    }
  }

  .MuiGrid-container {
    gap: 24px;
  }
}
